.contacts-sec {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  &__inner {
    display: grid;
    width: 100%;
    grid-gap: 40px;
    transform: translateY(-50%);
  }


  &__box {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3 - 20px));
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    grid-gap: 0 40px;
    flex: 1;

    svg {
      flex-shrink: 0;
      transform: translateY(25px);
    }
  }


}


.contact-info {
  display: grid;
  width: 100%;


  &__name {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: $text--e;
    margin-bottom: 5px;
  }

  &__link {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $text--w;

    & + & {
      margin-top: 11px;
    }

    &--inn {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.main-title {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;

  color: $text--w
}

