
.form-box {
  position: fixed;
  max-width: 1200px;
  width: 100vw;
  background: #fff;
  z-index: 50;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(105%);
  transition: all .5s;

  svg {
    fill: #000000;
  }

  &.active {
    transform: translateX(0);
    transition-delay: .3s;

    &::before {
      transition: opacity .2s linear;
      transition-delay: 0;
      opacity: 1;
      width: 120vw;
      left: -120vw;
    }
  }

  &::before {
    transition: .2s linear;
    transition-delay: 0s;
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
    opacity: 0;
    pointer-events: none;
  }
}
