@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .mobile-wrapp {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    width: 77vw;
    max-width: 300px;
    height: 100%;
    min-height: 100vh;
    padding: 44px 28px;
    overflow-y: scroll;

    background-color: #ffffff;
    transform: translateX(-100%);

    transition: all 0.4s linear;

    &.active {
      transform: translateX(0);
    }
  }

  .mobile-logo {
    display: block !important;
  }

  .mobile-logo svg {
    fill: #000000;
  }

  .burger {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 21px;
    transition: all .4s;
    grid-gap: 3px;

    span {
      display: block;
      width: 100%;
      height: 2px;
      transition: all .8s;
      background-color: #ffffff;

      &:first-child {
        width: 80%;
      }
    }

    &.active {
      // transform: rotate(360deg);

      span {
        &:first-child {
          opacity: 0;
          transform: rotate(-750deg);
        }

        &:nth-child(2) {
          transform: rotate(405deg) translate(2px,-1px);
        }

        &:nth-child(3) {
          transform: rotate(-405deg) translate(4px,-2px);
        }
      }
    }
  }

  .main-nav__list {
    flex-direction: column;
    align-items: flex-start;

    grid-gap: 50px;
  }

  .main-nav__item {
    color: #000000;
  }

  .mobile-contact {
    display: grid !important;

    grid-gap: 22px;

    .footer-contact__link {
      color: #000000;
    }
  }

  .main-nav {
    margin: 90px 0 102px;
  }

  .main-nav__item::before {
    display: none;
  }

  .child-slider {
    margin-right: 0;
    width: 100%;
  }

  .multi-slide {
    flex-direction: column;
  }

  .child-slider__wrapper {
    margin-top: -30px;
  }

  .multi-slide {
    grid-gap: 35px;
  }
}
