.slider-arrows {
  display: flex;
  grid-gap: 22px;


  svg {
    fill: $color--w;
    transition: all .4s;
  }

  button.swiper-button-disabled {
    svg {
      fill: #6A6A6A;
    }

    pointer-events: none;
  }
}

.slider-pagination {
  max-width: 30.208vw;
  display: flex;
  justify-content: space-between;

  .swiper-pagination-bullet {
    width: calc(100% / 3 - 4px);
    height: 5px;
    background-color:  #505050;
    transition: all .4s;
    cursor: pointer;

    &.swiper-pagination-bullet-active {
      background-color: $color--w;
    }
  }
}

.slider-navigation {
  display: grid;
  grid-gap: 25px;
  position: absolute;
  bottom: -80px;
  width: 30.208vw;
  z-index: 10;
}
