.slider-arrows {
  display: flex;
  grid-gap: 22px;


  button {
    svg {
      fill: #6A6A6A;
      transition: all .4s;
    }

    button.swiper-button-disabled {
      // svg {
      //   fill: #6A6A6A;
      // }

      pointer-events: none;
    }

    &:hover {
      svg {
        fill: #fff;
      }
    }
  }

}

.frame-descr {
  .slider-arrows {
    button {
      svg {
        fill: #6A6A6A;
        transition: all .4s;
      }

      &:hover {
        svg {
          fill: #000;
        }
      }
    }

  }
}

.slider-pagination {
  max-width: 30.208vw;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .swiper-pagination-bullet {
    width: calc(100% / 3 - 4px);
    height: 5px;
    background-color:  #505050;
    transition: all .4s;
    cursor: pointer;

    &.swiper-pagination-bullet-active {
      background-color: $color--w;
    }
  }
}

.index-box .slider-navigation {
  display: grid;
  grid-gap: 25px;
  position: absolute;
  bottom: -80px;
  width: 30.208vw;
  z-index: 10;
}

.mobile-slider__button svg {
  fill: #6a6a6a;
}

.mobile-slider__button:hover {
  svg {
    fill: #fff;
  }
}

.frame-dots {
  display: flex;
  justify-content: center;
  grid-gap: 8px;

  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000000;
    transition: all .4s;

    &.swiper-pagination-bullet-active {
      transform: scale(2);
    }
  }
}
